@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

.success-container {
  display: none;
  position: sticky;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  padding: 0.5rem;
  padding-bottom: 6.7rem;
  z-index: 10000;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  .message-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    max-width: 425px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
    box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
    padding: 0.75rem;
    //@include font($fugazOne, $mdSize, $darkBlueFont);

    @media (min-width: 768px) {
      margin-top: 10vh;
    }
    @media (min-width: 900px) {
      max-width: 625px;
      max-height: 70vh;
      padding-top: unset;
      padding-bottom: 1em;
    }

    h2 {
      //@include font(inherit, $mdSize, $darkBlueFont);
      font-size: clamp(1rem, 4vw, 2rem);
      color: var(--background-color);
    }

    p {
      padding-block: 1em;
      font-size: clamp(0.85rem, 2.5vw, 1.5rem);
      text-align: center;
      color: var(--grayFont);
      //@include font(inherit, $xsSize, $grayFont);
    }
    button {
      padding: 0.75em 1em;
      text-decoration: none;
      border: 1px solid var(--slate);
      border-radius: 4px;
      background-color: transparent;
      font-family: inherit;
      font-size: clamp(0.85rem, 2.5vw, 1.5rem);
      outline: none;
    }

    .img-container {
      display: grid;
      display: -ms-grid;
      align-items: flex-start;
      height: 100%;

      img {
        height: 50%;
      }

      @media (min-width: 0px) {
        width: 30%;
      }
      @media (min-width: 900px) {
        width: 30%;
      }
    }
  }
}

.is-active {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
}
