.projects {
  margin: 8rem 0;
  overflow: hidden;

  .title {
    margin-top: 1rem;
    padding-block: 2rem;
    h2 {
      font-family: var(--raleway);
      color: var(--theme-color);
      position: relative;
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        width: 300px;
        height: 2px;
        margin-left: 420px;
        background-color: var(--lightest-navy);
      }
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-block: 1rem;
    .project {
      position: relative;
      display: flex;
      justify-content: flex-end;
      &-image {
        &-container {
          position: relative;
          width: 600px;
          height: 300px;
          z-index: 6;
          border-radius: 5px;
          overflow: hidden;
        }
        & {
          position: absolute;
          top: 0;
          left: 0;
        }

        &:hover {
          .project-image-overlay {
            background-color: #00000000;
          }
          img {
            filter: none;
          }
        }
        &-overlay {
          transition: 0.3s ease-in-out;
          z-index: 1;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: var(--theme-color);
          opacity: 0.4;
          border-radius: 5px;
        }
        img {
          z-index: 0;
          filter: grayscale(100%);
          transition: 0.3s ease-in-out;
          border-radius: 5px;
        }
      }
      &-info {
        z-index: 5;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
        &-overline {
          color: var(--theme-color);
          font-family: var(--fira-code);
        }
        &-title {
          width: max-content;
          color: var(--theme-color);
          font-size: var(--txlarge);
          font-family: var(--raleway);
          transform: translateX(-200%);
          cursor: pointer;
          transition: 0.3s ease-in-out;
          &:hover {
            color: var(--theme-color);
          }
        }
        &-description {
          background-color: var(--info-light-navy);
          border-radius: 0.2rem;
          transform: translateX(-200%);
          z-index: -5;
          transition: ease-in-out 0.5s;
          p {
            color: var(--light-slate);
            font-family: var(--raleway);
            padding: 2rem;
            text-align: end;
          }
        }
        &-tech-list {
          display: flex;
          list-style-type: none;
          gap: 1rem;
          flex-wrap: wrap;
          transform: translateX(-200%);
          &-item {
            color: var(--light-slate);
            font-family: var(--raleway);
          }
        }
        &-links {
          font-size: var(--tlarge2);
          list-style-type: none;
          display: flex;
          gap: 1rem;
          &-item {
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            &-link {
              padding: 10px;
              color: var(--lightest-slate);
              transition: 0.3s ease-in-out;
              outline: 2px dashed transparent;
              &:hover {
                color: var(--theme-color);
              }
              &:focus {
                outline-color: var(--theme-color);
                transform: translateY(-4px);
                color: var(--theme-color);
              }
            }
          }
        }
      }

      &:nth-of-type(even) {
        justify-content: flex-start;
        margin-top: 5rem;
        .project-image {
          right: 0;
          left: initial;
        }
        .project-info {
          align-items: flex-start;
          &-description {
            p {
              text-align: start;
            }
          }
        }
        .project-info-description {
          transform: translateX(182%);
          z-index: -5;
          transition: ease-in-out 0.5s;
        }

        .project-info-links,
        .project-info-tech-list {
          transform: translateX(-300%);
          z-index: -5;
          transition: ease-in-out 0.7s;
        }

        &:hover {
          .project-info {
            right: 0;
            left: initial;
            transition: ease-in-out 0.7s;
          }
          .project-info-title,
          .project-info-description,
          .project-info-tech-list,
          .project-info-links {
            transform: translateX(0);
            z-index: 6;
            transition: ease-in-out 0.7s;
          }
          .project-image {
            z-index: 1;
            transition: ease-in-out 0.7s;
          }
        }
      }

      &:nth-of-type(odd) {
        transition: ease-in-out;
        margin-top: 5rem;

        .project-info-links,
        .project-info-tech-list {
          transform: translateX(350%);
          z-index: -5;
          transition: ease-in-out 0.7s;
        }

        &:hover {
          .project-info {
            right: 0;
            left: initial;
            transition: ease-in-out 0.7s;
          }

          .project-info-title,
          .project-info-description,
          .project-info-tech-list,
          .project-info-links {
            transform: translateX(0);
            z-index: 6;
            transition: ease-in-out 0.7s;
          }
          .project-image {
            z-index: 1;
            transition: ease-in-out 0.7s;
          }
        }
      }
    }
  }

  @media screen and (min-width: 750px) {
    &:nth-of-type(even) {
      .project-info-description {
        transform: translateX(130%);
        z-index: -5;
        transition: ease-in-out 0.5s;
      }

      .project-info-title,
      .project-info-links,
      .project-info-tech-list {
        transform: translateX(-350%);
        z-index: -5;
        transition: ease-in-out 0.7s;
      }
    }

    &:nth-of-type(odd) {
      .project-info-description {
        transform: translateX(130%);
        z-index: -5;
        transition: ease-in-out 0.5s;
      }
      .project-info-title,
      .project-info-links,
      .project-info-tech-list {
        transform: translateX(300%);
        z-index: -5;
        transition: ease-in-out 0.7s;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    &-container {
      align-items: center;
      .project {
        justify-content: flex-start;
        .project-info {
          width: 600px;
          height: 300px;
          background-color: rgba(31, 10, 44, 0.592);
          align-items: flex-start;
          padding: 1rem;

          &-description {
            background-color: transparent;
            p {
              padding: 0;
              text-align: start;
            }
          }
        }
        &:nth-of-type(even) {
          .project-image {
            left: 0;
            right: initial;
          }
        }
      }
    }
  }
  @media screen and (max-width: 680px) {
    margin: 5rem 0;
    &-container {
      .project {
        &-image {
          &-container {
            width: 500px;
            height: 300px;
          }
        }
        .project-info {
          width: 500px;
          height: 300px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    &-container {
      .project {
        &-image {
          &-container {
            width: 350px;
            height: 350px;
          }
        }
        .project-info {
          width: 350px;
          height: 350px;
        }
      }
    }
  }
  @media screen and (max-width: 968px) {
    .title {
      h2 {
        &::after {
          width: 100px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .title {
      h2 {
        &::after {
          display: none;
        }
      }
    }
  }
}
