.skills {
  overflow: hidden;
  padding-top: 4rem;
  .title {
    padding-top: 7rem;
    h2 {
      font-family: var(--raleway);
      color: var(--theme-color);
      position: relative;
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700;
    }
  }
  .lang-wrapper-container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .language-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      align-items: center;
      color: var(--lang-icon-color);

      .typescript,
      .fa-html5,
      .fa-css3,
      .fa-js,
      .fa-sass,
      .fa-react,
      .fa-bootstrap,
      .node-js,
      .cib-next-js,
      .cib-redux,
      .fa-fan,
      .php,
      .mongo-db,
      .tailwind-css,
      .sql,
      .firebase {
        font-size: 8rem;
        color: var(--lang-icon-color);
      }

      .typescript:hover,
      .fa-html5:hover,
      .fa-css3:hover,
      .fa-js:hover,
      .fa-sass:hover,
      .fa-react:hover,
      .fa-bootstrap:hover,
      .node-js:hover,
      .cib-next-js:hover,
      .cib-redux:hover,
      .fa-fan:hover,
      .php:hover,
      .mongo-db:hover,
      .firebase:hover,
      .sql:hover,
      .tailwind-css:hover {
        transition: ease-in-out 0.3s;
        transform: scale(1.1);
      }

      .fa-html5:hover {
        color: #e34e26;
      }

      .fa-css3:hover {
        color: #0277bd;
      }

      .fa-js:hover {
        color: #d4b830;
      }

      .fa-sass:hover {
        color: #cd6799;
      }

      .fa-react:hover {
        color: #53c1de;
      }

      .fa-bootstrap:hover {
        color: #563d7c;
      }

      .cib-next-js:hover {
        fill: #474747;
      }

      .cib-redux:hover {
        fill: #764abc;
      }

      .fa-fan:hover {
        color: #f23e50;
      }

      .php:hover {
        color: #7377ad;
      }

      .node-js:hover {
        color: #74b15b;
      }

      .mongo-db:hover {
        color: #59b747;
      }

      .tailwind-css:hover {
        color: #3ebff8;
      }

      .firebase:hover {
        color: #ffa714;
      }
    }
  }
  .learning-skills {
    margin-top: 4rem;
    padding-block: 3rem;
    h2 {
      font-family: var(--raleway);
      color: var(--theme-color);
      position: relative;
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700;
    }
    .learning-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      .language-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;
        color: var(--lang-icon-color);
      }

      .typescript,
      .node-js,
      .sql,
      .php {
        font-size: 8rem;
        color: var(--lang-icon-color);
      }

      .typescript:hover,
      .sql:hover,
      .php:hover,
      .node-js:hover {
        transition: ease-in-out 0.3s;
        transform: scale(1.1);
      }

      .typescript:hover,
      .sql:hover {
        color: #007acc;
      }

      .php:hover {
        color: #7377ad;
      }
    }
  }

  @media screen and (max-width: 968px) {
    .lang-wrapper-container {
      .language-wrapper {
        .typescript,
        .fa-html5,
        .fa-css3,
        .fa-js,
        .fa-sass,
        .fa-react,
        .fa-bootstrap,
        .node-js,
        .cib-next-js,
        .cib-redux,
        .fa-fan,
        .node-js,
        .mongo-db,
        .tailwind-css,
        .firebase {
          font-size: 5rem;
        }
      }
    }
    .learning-skills {
      .language-wrapper {
        .php,
        .sql {
          font-size: 5rem;
        }
      }
    }
  }
}
