:root {
  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: clamp(1em, 4vw, 1.5em);
  --tbase: 16px;
  --tlarge: clamp(1em, 4vw, 1.5em);
  --tlarge2: 22px;
  --txlarge: 25px;
  --tx2large: 32px;
  --tgiant: clamp(1.5em, 10vw, 3em);
  @media screen and (max-width: 480px) {
    --tx2large: 25px;
    // --tgiant: 40px;
  }
}
